# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
venv/
ENV/
env.bak
venv.bak

# Database
*.sqlite3
*.db

# FastAPI / Logging
*.log

# macOS
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific

/campaign_backend/__pycache__/